/*---------- Imported Fonts ----------*/

@font-face {
    font-family: 'Star Jedi';
    src: url('../../assets/fonts/StarJedi.eot');
    src: url('../../assets/fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/StarJedi.woff2') format('woff2'),
        url('../../assets/fonts/StarJedi.woff') format('woff'),
        url('../../assets/fonts/StarJedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*---------- Colours ----------*/

.color-gold {
    color: #FFD700;
}



/*---------- Main Styles ----------*/

h1#star-wars-logo {
    font-family: 'Star Jedi', sans-serif;
}

img#stormtrooper {
    opacity: 0.25;
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100% - 110px);
    margin-right: -100px;
    margin-top: 110px;
    
}

img.bullet-point {
    display: block;
    width: 50px;
}

svg {
    margin: 0 auto;
}

#most-appearing-characters-chart .x.axis text,
#speed-by-starship-chart .x.axis text,
#tallest-characters-chart .x.axis .tick text,
#crew-capacity-chart .x.axis .tick text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#reset-btn {
    display: inline-block;
    padding: 8px 16px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    right: 500px;
    left: calc(100% - 60px);
    z-index: 99;
    background-color: #fff;
}

/*---------- Text Utilities ----------*/

div[id*="-meter"].text-primary.text-larger {
    font-weight: bold;
    font-size: 2rem;
}

.dc-chart g.row text {
    font-size: 10px;
}

/*---------- Other Utilities ----------*/


/*---------- Media Queries ----------*/
